* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: white;
  font-family: Montserrat, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top-left, .top-right {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.description {
  font-size: 42px;
}

.temp {
  font-size: 48px;
  font-weight: 900;
}

.unit {
  cursor: pointer;
  font-size: 12px;
}

.data {
  font-size: 28px; 
  font-weight: 900;
}

form {
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  flex-direction: column;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
}

.btn-active {
  border: 2px solid white;
  border-radius: 5px;
}

.bottom-top {
  column-gap: 5px;
  display: flex;
}

footer {
  align-items: center;
  bottom: 0;
  column-gap: 10px;
  display: flex;
  font-family: Roboto;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
}

.fa-github {
  color: white;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}