* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: white;
  font-family: Montserrat, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top-left {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.top-right {
  column-gap: 20px;
  display: flex;
}

.top-right-left, .top-right-right {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.description {
  font-size: 42px;
}

.temp {
  font-size: 48px;
  font-weight: 900;
}

.temp-container {
  column-gap: 10px;
  display: flex;
}

.unit {
  cursor: pointer;
  font-size: 12px;
}

.weather-icon {
  height: 100%;
  width: 100px;
}

.data {
  font-size: 28px; 
  font-weight: 900;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  height: fit-content;
  justify-content: center;
}

input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-family: Montserrat, sans-serif;
  outline: none;
  padding: 10px;
}

input[type="image"] {
  cursor: pointer;
  height: 100%;
  width: 40px;
}

::placeholder { color: rgb(200, 200, 200); opacity: 1; }
:-ms-input-placeholder { color: rgb(200, 200, 200); }
::-ms-input-placeholder { color: rgb(200, 200, 200) }
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.err {
  font-size: 12px;
  height: 40px;
  margin-top: 10px;
  text-align: center;
}

.bottom {
  bottom: 25%;
  display: flex;
  flex-direction: column;
  position: absolute;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  padding: 5px 10px;
}

.btn-active {
  border: 2px solid white;
  border-radius: 5px;
}

.bottom-top {
  column-gap: 5px;
  display: flex;
}

footer {
  align-items: center;
  bottom: 0;
  column-gap: 10px;
  display: flex;
  font-family: Roboto;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
}

.fa-github {
  color: white;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}